{
	log {
		format console
		# level DEBUG
	}
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
	root /app/public
	log {
		format console
	}

	file_server

	redir /dash /
	rewrite / /dash

	php_fastcgi backend:9000 {
		root /var/www/public
		try_files {path}.php =404
	}
}
