{
	log {
		format console
		# level DEBUG
	}
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
	root /app/public

	# Replaces foo/, foo/*, foo.php, and foo.php?* with foo
	# Does not match for paths like foo.phps or foo?bar
	@trailing path_regexp ^/(dash|list|ping)((/|\.php\?).*|\.php)$
	redir @trailing /{re.1}
	rewrite / /dash
	redir /dash /

	@phpRoutes path_regexp ^/(dash|list|ping)$
	handle @phpRoutes {
		try_files {path}.php =404
		php_fastcgi backend:9000 {
			root /var/www/public
		}
	}

	handle {
		file_server
	}

	log {
		format console
	}
}
