{
	log {
		format console
		# level DEBUG
	}
	servers {
		trusted_proxies static private_ranges
	}
}

:80 {
	root /app/public
	rewrite / /dash
	redir /dash /
	redir /dash.php /
	redir /list.php /list
	redir /ping.php /ping

	log {
		format console
	}

	@assets {
		path_regexp \.(css|js)$
		file {
			try_files {path}
		}
	}
	handle @assets {
		file_server
	}

	@phpRoutes path_regexp ^/(dash|list|ping)$
	handle @phpRoutes {
		try_files {path}.php =404
		php_fastcgi backend:9000 {
			root /var/www/public
		}
	}

	handle {
		respond 404
	}
}
